#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-image: linear-gradient(to bottom, hsl(176, 88%, 70%), hsl(238, 88%, 13%)); */
}

#content {
    /* height: auto; */
    margin: 200px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to bottom, hsl(203, 86%, 15%), hsl(252, 92%, 23%)); */
    /* background-color: hsl(0, 88%, 44%); */
    border-radius: 10px;
    background-color: hsl(0, 0%, 5%);
    box-shadow: 0 0 50px 50px hsl(0, 0%, 5%);
    
    /* background-color: hsl(247, 100%, 24%); */
}

#content h1 {
    padding: 20px 0;
}

#content p {
    width: 640px;
    margin: 20px 0;
}

#about-james {
    margin: 200px 0;
    padding: 50px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 5%);
    box-shadow: 0 0 50px 50px hsl(0, 0%, 5%);
}