main {
    height: calc(100% - 200px);
    /* background-color: cadetblue; */
}

footer {
    display: flex;
    position: relative;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    box-sizing: border-box;
    color: white;
    z-index: 1;
    overflow: hidden;
}

#footer-border {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(45px) rotate(-2.5deg);
    background-image: url('/images/footer-border.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
    z-index: -1;
}

#footer-bg {
    position: absolute;
    bottom: 0;
    height: calc(100% - 30px);
    width: calc(100% - 40px);
    transform: translateY(45px) rotate(-2.5deg);
    background-color: hsl(4, 100%, 60%);
    z-index: -2;
}