#aiden {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aiden-img {
    height: 500px;
    width: 500px;
    user-select: none;
    background-size: 500px 500px;
    cursor: url('/images/boxing-glove.png'),auto;
}

/* #aiden-img:hover {
    background-image: url('/images/aiden-scared.png');
} */