* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

/* Nav */
#menu-toggle {
    display: none;
}

.menu-button {
    position: fixed;
    z-index: 1;
    display: flex;
    align-content: center;
    height: 100px;
    right:0;
    cursor: pointer;
    user-select: none;
    display: none;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    transition: top 0.3s;
    background-color: hsl(40, 100%, 60%);
}

/* Footer */
footer {
    display: flex;
    position: relative;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    box-sizing: border-box;
    color: white;
    z-index: 1;
    overflow: hidden;
}

#footer-border {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(45px) rotate(-2.5deg);
    background-image: url('/images/footer-border.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
    z-index: -1;
}

#footer-bg {
    position: absolute;
    bottom: 0;
    height: calc(100% - 30px);
    width: calc(100% - 40px);
    transform: translateY(45px) rotate(-2.5deg);
    background-color: hsl(4, 100%, 60%);
    z-index: -2;
}

/* 
    On screens that are 1400px wide or less 
*/
@media (max-width: 1400px) {
    .menu-button {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu-toggle:checked ~ #navbar {
        display: flex;
    }

    #menu-toggle:checked ~ .menu-button {
        text-decoration: underline;
    }
}