@font-face {
    font-family: "Tomorrow";
    src: url('/fonts/Tomorrow-Regular.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: auto;
    min-height: 100%;
    width: 100%;
    font-family: "Tomorrow";
    color: white;
}

html {
    background-color: hsl(0, 0%, 20%);
}

main {
    height: auto;
    min-height: 100vh;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bg {
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('/images/retro-screen2.png');
    background-size: 150px;
    user-select: none;
    pointer-events: none;
}

/* Font */
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

a {
    font-size: 30px;
    color: hsl(0, 0%, 85%);
    text-decoration: none;
}

a:hover {
    color: grey;
    color: hsl(0, 0%, 100%);
}

/* Nav */
#menu-toggle {
    display: none;
}

.menu-button {
    position: fixed;
    z-index: 3;
    display: flex;
    align-content: center;
    height: 100px;
    right:70px;
    top: 10px;
    cursor: pointer;
    user-select: none;
    display: none;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 15px;
    padding-left: 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 50px;
    transform: rotate(1deg);
}

#navbar-bg {
    position: fixed;
    z-index: 2;
    width: 110%;
    left: -5px;
    height: 150px;
    top: -20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 50px;
    transition: top 0.3s, right 0.3s;
    background-color: hsl(0, 88%, 44%);
    transform: rotate(-1deg);
}

/* Footer */
footer {
    display: flex;
    position: relative;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
    z-index: 1;
    overflow: hidden;
}

#footer-border {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(45px) rotate(-1.5deg);
    background-image: url('/images/footer-border.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
    z-index: -1;
}

#footer-bg {
    position: absolute;
    bottom: 0;
    left: -10px;
    height: calc(100% - 30px);
    width: 110%;
    transform: translateY(45px) rotate(1.5deg);
    background-color: hsl(0, 88%, 44%);
    z-index: -2;
}

/* On screens that are 1400px wide or less */
@media (max-width: 1400px) {
    .menu-button {
        display: block;
    }

    #navbar,
    #navbar-bg {
        top: 0;
        height: 100%;
        width: 200px;
        left: auto;
    }

    #navbar {
        padding-top: 120px;
        transform: rotate(0);
        flex-direction: column;
    }

    #navbar-bg {
        right: -200px;
        transform: rotate(0);
        box-shadow: 0 0 10px 5px hsl(0, 0%, 10%);
    }

    #menu-toggle:checked ~ #navbar-bg {
        right: 0;
    }

    #menu-toggle:checked ~ .menu-button {
        text-decoration: underline;
    }
}